<title>Map View</title>
{% load staticfiles %}
<link rel="shortcut icon" href="{% static 'img/map.png' type='image/x-icon' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/map.css' %}">
<script src="{% static 'js/map.js' %}" ></script>

<!-- Resources -->
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/maps.js"></script>
<script src="https://www.amcharts.com/lib/4/geodata/worldLow.js"></script>
<script src="https://www.amcharts.com/lib/4/geodata/data/countries2.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

<div>
	<div class="center-column">
		<div class="tab">
			<button class="tablinks" onclick="searching_types(event, 'geo')">GeoPoint</button>
			<button class="tablinks" onclick="searching_types(event, 'text_loc')">Text</button>
			<button class="tablinks" onclick="searching_types(event, 'other')">other</button>
		</div>
		<div id="geo" class="tabcontent">
			<h3>Geo-Coordinate</h3>

			<form method="POST" action="{% url 'map' %}">
				{% csrf_token %}
				<input type="hidden" name="name" maxlength="250" required="" id="id_name" deg value="-">
				<label>Latitude: </label>
				{{form.latitude}}
				<label>Longitude: </label>
				{{form.longitude}}
				<input class="btn btn-info" type="submit" name="Create Task">
			</form>
		</div>
		<div id="text_loc" class="tabcontent">
			<h3>Place</h3>
			<form method="POST" action="{% url 'map' %}">
				{% csrf_token %}
				{{form.name}}
				<input class="btn btn-info" type="submit" name="Create Task">
			</form>
		</div>
		<div id="other" class="tabcontent">

			<form method="POST" action="{% url 'map' %}">
				{% csrf_token %}
				<label>Name: </label>
				{{form.name}}
				<label>Latitude: </label>
				{{form.latitude}}
				<label>Longitude: </label>
				{{form.longitude}}
				<input class="btn btn-info" type="submit" name="Create Task">
			</form>
		</div>
	</div>
	<div class="center-column" style="position: absolute; left: 305px;  top: 0px;">
		<div>
			<a class="btn btn-sm btn-danger" href="{% url 'delete all location' %}" style="float: left; width: 160px;">Clear Search List</a>
			<a class="btn btn-sm btn-danger" href="{% url 'stock_home_page' %}" style="float: right; width: 100px;">Home</a>
		</div>
		<h2>Search List</h2>
		<div class="todo-list">
			<script>var b = [];</script>
			{% for location in locations %}
			<script>
<!--			console.log("ok");-->
			var a = {
				latitude: parseFloat("{{location.latitude}}"),
				longitude: parseFloat("{{location.longitude}}")}
			b.push(a)
<!--			console.log(b);-->
			</script>

				<div class="item-row">
					{{location.name}}<br>
				<font size="1">{{location.latitude}} {{location.longitude}}</font>
					<a class="btn btn-sm btn-danger" href="{% url 'delete location' location.pk %}" style="margin: -25px auto 0px 150px;">Delete</a>
				</div>
			{% endfor %}
		</div>
	</div>


	<div class="center-column" style="position: absolute; left: 610px;  top: 0px; width: 650px; height: 175px;">
		{{v}}
	</div>
</div>

<div id="chartdiv" style="position: absolute; left: 630px;
  top: 200px; width: 650px; height: 500px; background-color: lightblue;"></div>

<script>
console.log(b);
</script>

<script>


am4core.ready(function() {

// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

var continents = {
  "AF": 0,
  "AN": 1,
  "AS": 2,
  "EU": 3,
  "NA": 4,
  "OC": 5,
  "SA": 6
}

// Create map instance
var chart = am4core.create("chartdiv", am4maps.MapChart);
chart.projection = new am4maps.projections.Miller();

// Create map polygon series for world map
var worldSeries = chart.series.push(new am4maps.MapPolygonSeries());
worldSeries.useGeodata = true;
worldSeries.geodata = am4geodata_worldLow;
worldSeries.exclude = ["AQ"];

var worldPolygon = worldSeries.mapPolygons.template;

<!--worldPolygon.tooltipText = "{name}";-->
worldPolygon.nonScalingStroke = true;
worldPolygon.strokeOpacity = 0.5;
worldPolygon.fill = am4core.color("#eee");
worldPolygon.propertyFields.fill = "color";

var hs = worldPolygon.states.create("hover");

hs.properties.fill = chart.colors.getIndex(9);

// Create country specific series (but hide it for now)
var countrySeries = chart.series.push(new am4maps.MapPolygonSeries());
countrySeries.useGeodata = true;
countrySeries.hide();
countrySeries.geodataSource.events.on("done", function(ev) {
  worldSeries.hide();
  countrySeries.show();
});


var countryPolygon = countrySeries.mapPolygons.template;
<!--countryPolygon.tooltipText = "{name}";-->
countryPolygon.nonScalingStroke = true;
countryPolygon.strokeOpacity = 0.5;
countryPolygon.fill = am4core.color("#eee");

var hs = countryPolygon.states.create("hover");
hs.properties.fill = chart.colors.getIndex(9);

// Set up click events
worldPolygon.events.on("hit", function(ev) {
  ev.target.series.chart.zoomToMapObject(ev.target);
  var map = ev.target.dataItem.dataContext.map;
  if (map) {
    ev.target.isHover = false;
    countrySeries.geodataSource.url = "https://www.amcharts.com/lib/4/geodata/json/" + map + ".json";
    countrySeries.geodataSource.load();
  }
});



// Set up data for countries
var data = [];
for(var id in am4geodata_data_countries2) {
  if (am4geodata_data_countries2.hasOwnProperty(id)) {
    var country = am4geodata_data_countries2[id];
    if (country.maps.length) {
      data.push({
        id: id,
        color: chart.colors.getIndex(continents[country.continent_code]),
        map: country.maps[0]
      });
    }
  }
}
worldSeries.data = data;

// Zoom control
chart.zoomControl = new am4maps.ZoomControl();

// Set initial zoom
chart.homeZoomLevel = 2;
chart.homeGeoPoint = {
  latitude: 28.644800,
  longitude: 77.216721
};
<!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!    Marker !!!!!!!!!!!!!!!!!!!!!!-->
// Define marker path
var targetSVG = "M9,0C4.029,0,0,4.029,0,9s4.029,9,9,9s9-4.029,9-9S13.971,0,9,0z M9,15.93 c-3.83,0-6.93-3.1-6.93-6.93S5.17,2.07,9,2.07s6.93,3.1,6.93,6.93S12.83,15.93,9,15.93 M12.5,9c0,1.933-1.567,3.5-3.5,3.5S5.5,10.933,5.5,9S7.067,5.5,9,5.5 S12.5,7.067,12.5,9z";
<!--!!!!!!!!!!!!!!!!       Retrieving coordinates of a click        !!!!!!!!!!!!-->
chart.seriesContainer.events.on("hit", function(ev) {
  console.log(chart.svgPointToGeo(ev.svgPoint));
    var coords = chart.svgPointToGeo(ev.svgPoint);
  var marker = imageSeries.mapImages.create();
  marker.latitude = coords.latitude;
  marker.longitude = coords.longitude;
});
<!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->

// Add images
var imageSeries = chart.series.push(new am4maps.MapImageSeries());
var imageTemplate = imageSeries.mapImages.template;
imageTemplate.tooltipText = "{title}";
imageTemplate.nonScaling = true;

var marker = imageTemplate.createChild(am4core.Sprite);
marker.path = targetSVG;
marker.horizontalCenter = "middle";
marker.verticalCenter = "middle";
marker.scale = 0.7;
<!--marker.fill = interfaceColors.getFor("alternativeBackground");-->

imageTemplate.propertyFields.latitude = "latitude";
imageTemplate.propertyFields.longitude = "longitude";

imageSeries.data = b;

var homeButton = new am4core.Button();
homeButton.events.on("hit", function() {
  worldSeries.show();
  countrySeries.hide();
  chart.goHome();
});
homeButton.icon = new am4core.Sprite();
homeButton.padding(7, 5, 7, 5);
homeButton.width = 30;
homeButton.icon.path = "M16,8 L14,8 L14,16 L10,16 L10,10 L6,10 L6,16 L2,16 L2,8 L0,8 L8,0 L16,8 Z M16,8";
homeButton.marginBottom = 10;
homeButton.parent = chart.zoomControl;
homeButton.insertBefore(chart.zoomControl.plusButton);
}); // end am4core.ready()

</script>