<!--   $("#id_name").value="-";-->
<!--   document.lat_lng_name.getElementById("id_latitude").value=lat.toFixed(2);-->
<!--   document.lat_lng_name.getElementById("id_longitude").value =lng.toFixed(2);-->
<!--	var token = document.lat_lng_name.csrfmiddlewaretoken.value;-->
<!--	console.log(token);-->

document.lat_lng_name.submit(function(event){
	$.ajax({
		 url: '',
		 data: {
			 'name': '-',
			 'latitude':,
			 'longitude':12,
			 'asd':"shiv"
	 		},
	 	type: 'POST',
	 	header:  {'X-CSRF-TOKEN': token}
	 	}).done(function(response){ //
		$("#lat-lng").html("Hello <b>world</b>!");
		});
});

