<!--How to give same style to multiple ids-->


body {
  background-color : #ffffff;
}

#random_shit {
  display: none;
}

#logo_id {
  opacity: 0.7;
  transition: 0.3s;
}

#logo_id:hover {
  opacity:1.0;
}

#random_shit {
  display: none;
}
