<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>EDP Form</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/logo_click.js' %}" ></script>

</head>


<body>

    <img src="{% static 'img/eagle.png' %}" height="75px"
            onclick="form_show()"
            id="form-show"
            style="margin: 100px auto; display: block">



</body>
</html>
