<!DOCTYPE html>
<html lang="en">

<script>

</script>
<head>

    <meta charset="UTF-8">
<!--    adding tab title-->
    <title>Home Page</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

<!--    adding app icon-->
    <link rel="shortcut icon" href="{% static 'img/eagle.png' type='image/x-icon' %}">

</head>

<body>
<!--<div style="height: 100px; width: 100px; display: block; background-color:lightblue">-->

<div>
    <div>
        <a href="{% url 'background_template' %}">
        <img src="{% static 'img/eagle.png' %}" height="65px" id="logo_id" style="margin: 100px auto; display: block">
        </a>
    </div>

    <div>
        <a href="{% url 'map' %}">
        <img src="{% static 'img/map.png' %}" height="65px" id="logo_id" style="margin: 100px auto; display: block">
        </a>
    </div>
    <div>
        <a href="{% url 'list' %}">
        <img src="{% static 'img/to_do.png' %}" height="65px" id="logo_id" style="margin: 100px auto; display: block">
        </a>
    </div>


</div>

</body>

</html>
